[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].ativo .dropdown-menu {
  display: block;
  animation: show-up 0.2s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu {
  position: absolute;
  top: 38px;
  background: var(--p2);
  z-index: 5;
}

.dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 8px;
  width: 0;
  height: 0;
  border-bottom: 10px solid var(--p2);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.dropdown-menu li a,
.dropdown-menu li a::after {
  transition: 0.3s;
}

.dropdown-menu li a:hover {
  color: var(--c0);
}
.dropdown-menu li a:hover::after {
  background-color: var(--c0);
}

.menu ul.dropdown-menu {
  gap: 0.5rem;
}
